@layer kollagen.theme {
	[data-theme='rose'] {
		--kl-primary: oklch(65% 0.241 354.308);
		--kl-primary-content: oklch(100% 0 0);
		--kl-secondary: oklch(89% 0.058 10.001);
		--kl-secondary-content: oklch(51% 0.222 16.935);
		--kl-accent: oklch(90% 0.063 306.703);
		--kl-accent-content: oklch(49% 0.265 301.924);
		--kl-neutral: oklch(40% 0.153 2.432);
		--kl-neutral-content: oklch(92% 0.013 255.508);
		--kl-base-100: oklch(100% 0 0);
		--kl-base-200: oklch(98.462% 0.001 247.838);
		--kl-base-300: oklch(92.462% 0.001 247.838);
		--kl-base-content: oklch(24% 0.05 3.958);
		--kl-muted: oklch(96% 0.012 343.198);
		--kl-muted-content: oklch(55% 0.08 3.958);
		--kl-info: oklch(86% 0.127 207.078);
		--kl-info-content: oklch(52% 0.105 223.128);
		--kl-success: oklch(87% 0.15 154.449);
		--kl-success-content: oklch(52% 0.154 150.069);
		--kl-warning: oklch(83% 0.128 66.29);
		--kl-warning-content: oklch(55% 0.195 38.402);
		--kl-error: oklch(80% 0.114 19.571);
		--kl-error-content: oklch(50% 0.213 27.518);
		--kl-radius-selector: 1rem;
		--kl-radius-field: 2rem;
		--kl-radius-box: 1rem;
	}

	[data-theme='rose'][data-mode='dark'] {
		--kl-primary: oklch(72% 0.2 354.308);
		--kl-primary-content: oklch(14% 0.04 354.308);
		--kl-secondary: oklch(74% 0.12 10.001);
		--kl-secondary-content: oklch(15% 0.04 16.935);
		--kl-accent: oklch(78% 0.095 306.703);
		--kl-accent-content: oklch(18% 0.05 301.924);
		--kl-neutral: oklch(82% 0.05 2.432);
		--kl-neutral-content: oklch(16% 0.035 3.958);
		--kl-base-100: oklch(18% 0.03 343.198);
		--kl-base-200: oklch(23% 0.04 343.198);
		--kl-base-300: oklch(30% 0.05 343.198);
		--kl-base-content: oklch(94% 0.02 343.198);
		--kl-muted: oklch(30% 0.04 343.198);
		--kl-muted-content: oklch(70% 0.04 343.198);
		--kl-info: oklch(86% 0.127 207.078);
		--kl-info-content: oklch(20% 0.06 223.128);
		--kl-success: oklch(84% 0.13 154.449);
		--kl-success-content: oklch(19% 0.06 150.069);
		--kl-warning: oklch(83% 0.128 66.29);
		--kl-warning-content: oklch(20% 0.06 38.402);
		--kl-error: oklch(70% 0.18 25.331);
		--kl-error-content: oklch(96% 0.018 17.38);
		--kl-radius-selector: 1rem;
		--kl-radius-field: 2rem;
		--kl-radius-box: 1rem;
	}
}
