@layer kollagen.theme {
	[data-theme='sunset'] {
		--kl-primary: oklch(66% 0.15 39.947);
		--kl-primary-content: oklch(14.94% 0.031 39.947);
		--kl-secondary: oklch(64% 0.17 2.72);
		--kl-secondary-content: oklch(96% 0.01 2.72);
		--kl-accent: oklch(66% 0.16 299.844);
		--kl-accent-content: oklch(96% 0.01 299.844);
		--kl-neutral: oklch(32% 0.019 237.69);
		--kl-neutral-content: oklch(92% 0.019 237.69);
		--kl-base-100: oklch(96% 0.012 39.947);
		--kl-base-200: oklch(91% 0.016 39.947);
		--kl-base-300: oklch(84% 0.02 39.947);
		--kl-base-content: oklch(22% 0.019 237.69);
		--kl-muted: oklch(91% 0.014 39.947);
		--kl-muted-content: oklch(50% 0.02 237.69);
		--kl-info: oklch(70% 0.085 206.015);
		--kl-info-content: oklch(17.111% 0.017 206.015);
		--kl-success: oklch(70% 0.085 144.778);
		--kl-success-content: oklch(17.112% 0.017 144.778);
		--kl-warning: oklch(78% 0.084 74.427);
		--kl-warning-content: oklch(17.113% 0.016 74.427);
		--kl-error: oklch(68% 0.11 16.886);
		--kl-error-content: oklch(96% 0.015 16.886);
		--kl-radius-selector: 1rem;
		--kl-radius-field: 0.5rem;
		--kl-radius-box: 1rem;
	}

	[data-theme='sunset'][data-mode='dark'] {
		--kl-primary: oklch(74.703% 0.158 39.947);
		--kl-primary-content: oklch(14.94% 0.031 39.947);
		--kl-secondary: oklch(72.537% 0.177 2.72);
		--kl-secondary-content: oklch(14.507% 0.035 2.72);
		--kl-accent: oklch(71.294% 0.166 299.844);
		--kl-accent-content: oklch(14.258% 0.033 299.844);
		--kl-neutral: oklch(26% 0.019 237.69);
		--kl-neutral-content: oklch(70% 0.019 237.69);
		--kl-base-100: oklch(22% 0.019 237.69);
		--kl-base-200: oklch(20% 0.019 237.69);
		--kl-base-300: oklch(18% 0.019 237.69);
		--kl-base-content: oklch(77.383% 0.043 245.096);
		--kl-muted: oklch(28% 0.019 237.69);
		--kl-muted-content: oklch(62% 0.03 245.096);
		--kl-info: oklch(85.559% 0.085 206.015);
		--kl-info-content: oklch(17.111% 0.017 206.015);
		--kl-success: oklch(85.56% 0.085 144.778);
		--kl-success-content: oklch(17.112% 0.017 144.778);
		--kl-warning: oklch(85.569% 0.084 74.427);
		--kl-warning-content: oklch(17.113% 0.016 74.427);
		--kl-error: oklch(85.511% 0.078 16.886);
		--kl-error-content: oklch(17.102% 0.015 16.886);
		--kl-radius-selector: 1rem;
		--kl-radius-field: 0.5rem;
		--kl-radius-box: 1rem;
	}
}
