@layer kollagen.theme {
	[data-theme='synthwave'] {
		--kl-primary: oklch(58% 0.19 349.761);
		--kl-primary-content: oklch(96% 0.02 349.761);
		--kl-secondary: oklch(62% 0.11 230.318);
		--kl-secondary-content: oklch(96% 0.02 230.318);
		--kl-accent: oklch(68% 0.16 55.934);
		--kl-accent-content: oklch(26% 0.079 36.259);
		--kl-neutral: oklch(35% 0.12 277.023);
		--kl-neutral-content: oklch(96% 0.025 274.039);
		--kl-base-100: oklch(96% 0.018 274.713);
		--kl-base-200: oklch(91% 0.028 274.713);
		--kl-base-300: oklch(84% 0.04 274.713);
		--kl-base-content: oklch(22% 0.08 281.288);
		--kl-muted: oklch(91% 0.025 274.713);
		--kl-muted-content: oklch(50% 0.065 281.288);
		--kl-info: oklch(68% 0.14 232.661);
		--kl-info-content: oklch(96% 0.018 232.661);
		--kl-success: oklch(68% 0.13 181.912);
		--kl-success-content: oklch(27% 0.046 192.524);
		--kl-warning: oklch(82% 0.16 98.111);
		--kl-warning-content: oklch(42% 0.095 57.708);
		--kl-error: oklch(66% 0.12 32.639);
		--kl-error-content: oklch(96% 0.02 32.639);
		--kl-radius-selector: 1rem;
		--kl-radius-field: 0.5rem;
		--kl-radius-box: 1rem;
	}

	[data-theme='synthwave'][data-mode='dark'] {
		--kl-primary: oklch(71% 0.202 349.761);
		--kl-primary-content: oklch(28% 0.109 3.907);
		--kl-secondary: oklch(82% 0.111 230.318);
		--kl-secondary-content: oklch(29% 0.066 243.157);
		--kl-accent: oklch(75% 0.183 55.934);
		--kl-accent-content: oklch(26% 0.079 36.259);
		--kl-neutral: oklch(45% 0.24 277.023);
		--kl-neutral-content: oklch(87% 0.065 274.039);
		--kl-base-100: oklch(15% 0.09 281.288);
		--kl-base-200: oklch(20% 0.09 281.288);
		--kl-base-300: oklch(25% 0.09 281.288);
		--kl-base-content: oklch(78% 0.115 274.713);
		--kl-muted: oklch(30% 0.09 281.288);
		--kl-muted-content: oklch(64% 0.09 274.713);
		--kl-info: oklch(74% 0.16 232.661);
		--kl-info-content: oklch(29% 0.066 243.157);
		--kl-success: oklch(77% 0.152 181.912);
		--kl-success-content: oklch(27% 0.046 192.524);
		--kl-warning: oklch(90% 0.182 98.111);
		--kl-warning-content: oklch(42% 0.095 57.708);
		--kl-error: oklch(73.7% 0.121 32.639);
		--kl-error-content: oklch(23.501% 0.096 290.329);
		--kl-radius-selector: 1rem;
		--kl-radius-field: 0.5rem;
		--kl-radius-box: 1rem;
	}
}
