@layer kollagen.theme {
	[data-theme='valentine'] {
		--kl-primary: oklch(65% 0.241 354.308);
		--kl-primary-content: oklch(100% 0 0);
		--kl-secondary: oklch(62% 0.265 303.9);
		--kl-secondary-content: oklch(97% 0.014 308.299);
		--kl-accent: oklch(82% 0.111 230.318);
		--kl-accent-content: oklch(39% 0.09 240.876);
		--kl-neutral: oklch(40% 0.153 2.432);
		--kl-neutral-content: oklch(89% 0.061 343.231);
		--kl-base-100: oklch(97% 0.014 343.198);
		--kl-base-200: oklch(94% 0.028 342.258);
		--kl-base-300: oklch(89% 0.061 343.231);
		--kl-base-content: oklch(52% 0.223 3.958);
		--kl-muted: oklch(94% 0.028 342.258);
		--kl-muted-content: oklch(55% 0.12 3.958);
		--kl-info: oklch(86% 0.127 207.078);
		--kl-info-content: oklch(44% 0.11 240.79);
		--kl-success: oklch(84% 0.143 164.978);
		--kl-success-content: oklch(43% 0.095 166.913);
		--kl-warning: oklch(75% 0.183 55.934);
		--kl-warning-content: oklch(26% 0.079 36.259);
		--kl-error: oklch(63% 0.237 25.331);
		--kl-error-content: oklch(97% 0.013 17.38);
		--kl-radius-selector: 1rem;
		--kl-radius-field: 2rem;
		--kl-radius-box: 1rem;
	}

	[data-theme='valentine'][data-mode='dark'] {
		--kl-primary: oklch(72% 0.2 354.308);
		--kl-primary-content: oklch(14% 0.04 354.308);
		--kl-secondary: oklch(70% 0.22 303.9);
		--kl-secondary-content: oklch(14% 0.04 303.9);
		--kl-accent: oklch(82% 0.111 230.318);
		--kl-accent-content: oklch(18% 0.05 240.876);
		--kl-neutral: oklch(82% 0.08 343.231);
		--kl-neutral-content: oklch(18% 0.06 3.958);
		--kl-base-100: oklch(18% 0.035 343.198);
		--kl-base-200: oklch(23% 0.045 342.258);
		--kl-base-300: oklch(30% 0.055 343.231);
		--kl-base-content: oklch(94% 0.028 342.258);
		--kl-muted: oklch(30% 0.045 342.258);
		--kl-muted-content: oklch(70% 0.045 343.231);
		--kl-info: oklch(86% 0.127 207.078);
		--kl-info-content: oklch(20% 0.07 240.79);
		--kl-success: oklch(84% 0.143 164.978);
		--kl-success-content: oklch(20% 0.07 166.913);
		--kl-warning: oklch(75% 0.183 55.934);
		--kl-warning-content: oklch(18% 0.06 36.259);
		--kl-error: oklch(70% 0.21 25.331);
		--kl-error-content: oklch(15% 0.05 17.38);
		--kl-radius-selector: 1rem;
		--kl-radius-field: 2rem;
		--kl-radius-box: 1rem;
	}
}
